<ng-container [ngSwitch]="activeType">
  <canvas *ngSwitchCase="types.LINES" [appLinesVisualizer]="100" [maxHeight]="90"></canvas>
  <canvas *ngSwitchCase="types.CIRCLE" [appCircleVisualizer]="100"></canvas>
  <canvas *ngSwitchCase="types.RECT" appRectsVisualizer></canvas>
</ng-container>
<div id="actions">
  <div id="types">
    <button class="type" *ngFor="let type of visuTypes"
            (click)="activeType = type.id"
            [ngClass]="{active: type.id == activeType}"
    >{{type.name}}</button>
  </div>
  <div id="sounds">
    <button class="track" *ngFor="let track of audios"
            (click)="setSound(track)"
            [ngClass]="{active: track.src == activeSound.src}"
    >{{track.name}}</button>
  </div>
</div>
<button id="play-pause" (click)="togglePlay()">{{isPlaying ? 'pause' : 'play'}}</button>
<span id="credits">Music: <a target="_blank" href="https://www.bensound.com">https://www.bensound.com</a></span>
